.navbarInit {
  color: white;
  font-size: 20px;
}

.dropdown-toggle {
  color: rgb(140, 14, 14);
    font-family: 'Special Elite';
    font-size:20px;
    margin-top:10px;

}
.balance {
  margin-top: 10px;
}
