
body { background-color: rgb(216, 216, 216);

  }
  /*do i still need this?*/
/*.navbar { color: rgb(140, 14, 14);*/
  }
/* new nav stylings*/
  .navbarInit {
    color: white;
    font-size: 20px;
  }

  .dropdown-toggle {
    color: rgb(140, 14, 14);
      font-family: 'Special';
      font-size:30px;
      margin-top:10px;

  }
  .balance {
    margin-top: 10px;
  }


.titleBar {
  width: 80%;
  border: 5px solid inherit;
    background-color: rgb(140, 14, 14);


}
.th {
  height: 40px;
  width: 35px;
  padding-bottom: 13px;
}
.trailhead {
  margin-left:205px;
  margin-bottom: 10px;
  height:25px;
  width:30px;
}
.logo {
  width:185px;
  height:185px;
}
.zermattBackground {

  background-image:url( "../images/backgroundZermatt.jpeg");
  background-size: cover;
background-repeat: no-repeat;
height: 800px;
}
.titlebox {
  margin-top:60px;
  color: rgb(140, 14, 14);
    font-family: 'Montserrat', sans-serif;
}
.contents {
  font-family: 'Montserrat', sans-serif;
}
.emailMe {
  background-color: rgb(140, 14, 14);
}
#firstName {
  font-size: 150px;
  margin-bottom: -30px;
}

#lastName {
  font-size: 75px;
  letter-spacing: 15px;
  margin-top: -10px;
  margin-bottom: -30px;
}

#jobTitle{
  font-size: 31px;
  margin-top: 15px;

}

#location{
  font-size:31px;
  margin-top:-10px;
  /*margin-left:60px;*/
}

#projBanner{
  font-size: 65px;
  margin-top: -10px;
  color: rgb(140, 14, 14);
    font-family: 'montserrat', cursive;
  margin-bottom: 5px;
}

/*trying to figure out the show navbar on hover feature! might just need to go to codepen for the toggle navbar one?*/
.showme{
display: none;
}
.showhim:hover .showme{
display : block;
}

.projects {
  font-size: 60px;
  margin:3px solid white;
  border:1px solid grey;
  border-radius: 5px;

  padding-left:0px;
  padding-right:0px;

  font-family:'Convergence';
  opacity:0.7;
}

.projects:hover {
    opacity: 1.0;
    /*filter: alpha(opacity=100); /* For IE8 and earlier */
}
/*Convergence|Forum|Reenie+Beanie|montserrat+Elite*/
.trg {
  background-image:url( "../images/TRG_Main_Page.png");

  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
}

.pReddit {
  background-image:url( "../images/pReddit.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
}
.alumnize {
  background-image:url( "../images/alumnize.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
}

.gBlog {
  background-image:url( "../images/snowflakeBlog.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
}

.gRecipes {
  background-image:url( "../images/gRecipes.png");

  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
}

.fantasticWeather{
  background-image:url( "../images/FantasticWeather.png");

  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
}

.minor {


}
.pTitle {
  font-family: 'montserrat', cursive;
  margin-top:100px;
  color: black;
  /*text: rgb(140, 14, 14);*/
}

.skillStuff {
  height:150px;
  width:100%;
  /*margin-left: 15px;*/
}
.skillStuff2 {
  height:150px;
  width:100%;
  margin-left: 10px;
}

.skillIcon{
  margin:20px;
  border: 5px, 5px, 5px, 5px;
}
.skillAng{
  margin-left:12px;
}
.skillJav {
  margin-left:5px;
}
.skillBoo {
  margin-left: 6px;
}

.skillCss {
  margin-left: 25px;
}
.skillHtm {
  margin-left: 20px;
}
.html {
  margin-left: 27px;
}

.skillJqu {
  margin-left: 15px;
}
.skillGul {
  margin-left: 23px;
}
.skillMoc {
  margin-left: 11px;
}

.skillHer {
  margin-left: 15px;
}
/*.bump {
  margin-left:60px;
}*/


/*.bump2 {
  margin-left:60px;
  padding-left:30px;
  padding-right: 0px;
}*/

/*.bump2 {
    margin-left: 67px;
    padding-left: 25px;
    padding-right: 5px;
}*/
.dSize{
  font-size:75px;
}
#aboutBanner{
  font-size: 65px;
  margin-top: 20px;
  color: rgb(140, 14, 14);
    font-family: 'montserrat', cursive;
}


.paulMtElbert {
  /*border-radius: 50px;*/
  /*border:1px solid grey;*/


  /*background-image: url("../images/paulTorresPartialCrop.png");*/
  /*background-size: contain;*/
  background-repeat: no-repeat;

  height: 300px;
    width: 360px;
}
.aboutInfo {
  color: rgb(140, 14, 14);
    font-family: 'montserrat', cursive;
  font-size:21px;
  padding-top: 10px;

}

.Att {
  margin: auto;
  height: 300px;
  /*width: 500px;*/
}
.aboutBar {
  width:40%;
  border: 1px solid;
}
.sf {
  background-color: rgb(216, 216, 216);
}

.fah {
  padding-left: 40px;
  padding-right: 5px;
}

.invert {
  filter: invert(85%);
  margin-top: -14px;
}

.fa {
  font-size: 30px;
  color: rgb(216, 216, 216);
  /*padding:10px;*/
  margin-left: 3px;
  margin-right: 3px;
}

.adventurerTHLogo{
  height:40px;
  display: block;
  margin: auto;
  padding-bottom:10px;
  width: auto;

}


.formspree {
  background-color: white;
}

.ffont {
  font-size:20px;
  color: rgb(140, 14, 14);
    font-family: 'montserrat', sans-serif;
}
/*fonts to consider! */
/*font-family: 'Special Elite', cursive;
font-family: 'Forum', cursive;
font-family: 'Convergence', sans-serif;
font-family: 'Reenie Beanie', cursive;*/
