
body { background-color: rgb(216, 216, 216);

  }
  /*do i still need this?*/
/*.navbar { color: rgb(140, 14, 14);*/
  }
/* new nav stylings*/
  .navbarInit {
    color: white;
    font-size: 20px;
  }

  .dropdown-toggle {
    color: rgb(140, 14, 14);
      font-family: 'Special Elite';
      font-size:20px;
      margin-top:10px;

  }
  .balance {
    margin-top: 10px;
  }





.zermattBackground {

  background-image:url( "../images/backgroundZermatt.jpeg");
  background-size: cover;
background-repeat: no-repeat;
height: 800px;
}
.titlebox {
  margin-top:100px;
  color: rgb(140, 14, 14);
    font-family: 'Special Elite', cursive;
}

.emailMe {
  background-color: rgb(140, 14, 14);
}
#firstName {
  font-size: 150px;
  margin-bottom: -30px;
}

#lastName {
  font-size: 80px;
  letter-spacing: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#jobTitle{
  font-size: 31px;
  margin-top: -10px;

}

#location{
  font-size:31px;
  margin-top:-10px;
  /*margin-left:60px;*/
}

#projBanner{
  font-size: 65px;
  margin-top: -10px;
  color: rgb(140, 14, 14);
    font-family: 'Special Elite', cursive;
}

/*trying to figure out the show navbar on hover feature! might just need to go to codepen for the toggle navbar one?*/
.showme{
display: none;
}
.showhim:hover .showme{
display : block;
}

.projects {
  font-size: 60px;
  margin:3px solid white;
  border:2px solid black;
  border-radius: 5px;

  padding-left:0px;
  padding-right:0px;

  font-family:'Convergence';
  opacity:0.7;
}

.projects:hover {
    opacity: 1.0;
    /*filter: alpha(opacity=100); /* For IE8 and earlier */
}
/*Convergence|Forum|Reenie+Beanie|Special+Elite*/
.pReddit {
  background-image:url( "../images/pReddit.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
}
.alumnize {
  background-image:url( "../images/alumnize.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
}

.gBlog {
  background-image:url( "../images/snowflakeBlog.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
}


.pTitle {
  margin-top:100px;
  text: grey;
}

#aboutBanner{
  font-size: 65px;
  margin-top: 20px;
  color: rgb(140, 14, 14);
    font-family: 'Special Elite', cursive;
}

.paulMtElbert {
  border-radius: 250px;
}
.aboutInfo {
  color: rgb(140, 14, 14);
    font-family: 'Special Elite', cursive;
  font-size:21px;

}


.aboutBar {
  width:40%;
  border: 1px solid;
}

.trailhead {
  height:35px;
  display: block;
  margin: auto;
  width: 50%;

}
.formspree {
  background-color: white;
}
/*fonts to consider! */
/*font-family: 'Special Elite', cursive;
font-family: 'Forum', cursive;
font-family: 'Convergence', sans-serif;
font-family: 'Reenie Beanie', cursive;*/
